@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   
    .sidebar-links {
        width:150%;
        left:-60%;
        gap: 1.5rem;
        transition: all 1.2s ease-in-out;
        transform:translateY(6.8rem);
    }
    .sidebar-links ul{
      width:150%;
      left:-80%;
    }
      .sidebar-links .top {
        display: none;
      }
}